<div class="container marketing">
    <hr class="featurette-divider">
    
    @Html.Partial("_IndexAboutUsFeaturette")
    
    <hr class="featurette-divider">
    
    @Html.Partial("_IndexEventsFeaturette")
    
    <hr class="featurette-divider">
    
    @Html.Partial("_IndexLessonsFeaturette")
    
    <hr class="featurette-divider">
    
    @Html.Partial("_IndexCampsFeaturette")
    
    <hr class="featurette-divider">

    @Html.Partial("_IndexInstructorsFeaturette")
    
    <hr class="featurette-divider">

    @Html.Partial("_IndexContactUsFeaturette")
  
</div>